#account-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include lg {
        flex-direction: row;
        justify-content: normal;
        align-items: normal;
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;
    }


    aside {
        @include lg {
            border-right: 0.04rem solid $gray-600;
            padding-right: 20px;
        }

        .profile {
            margin: 20px;
            text-align: center;

            h5 {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            p {
                @include text-m;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 50px;
            text-align: left !important;

            a {
                display: block;
                margin-top: 10px;
                //text-align: center;

                i {
                    color: $gray-700;
                    padding-right: 10px;

                    &.fa-solid.fa-gear {
                        color: $white;
                    }
                }
            }

            .btn-theme-s {
                display: block;
                text-align: left;

                i {
                    color: $white;
                    padding-right: 10px;
                }
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;

        .basicInfoForm {
            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "firstname" "lastname" "email" "phone" "bio" "buttons";

                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";
                    }

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;


                        span {
                            color: $gray-500;
                            font-weight: 400;
                        }
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }


        .addressInfoForm {
            margin-top: 30px;

            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "addressline_1" "addressline_2" "postalcode" "city" "buttons";

                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";
                    }

                    #form-addressline-1 {
                        grid-area: addressline_1;
                    }

                    #form-addressline-2 {
                        grid-area: addressline_2;


                        span {
                            color: $gray-400;

                            font-weight: 400;
                        }
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }
}
