<div class="integrate">
    <div class="container">
        <h1 class="title">Integrate Top Work Tools</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus <br> facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="features">
            <div class="box">
                <img src="images/icons/super-g.svg" alt="google icon">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="box">
                <img src="/images/icons/Zoom.svg" alt="camera icon">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="box">
                <img src="/images/icons/Slack.svg" alt="slack icon">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="/images/icons/gmail.svg" alt="gmail icon">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="box">
                <img src="/images/icons/Trello.svg" alt="Trello icon">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="box">
                <img src="/images/icons/MailChimp.svg" alt="MailChimp icon">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="box">
                <img src="/images/icons/Dropbox.svg" alt=" Dropbox icon">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="box">
                <img src="/images/icons/Evernote.svg" alt=" Evernote icon">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</div>