

<section class="switch">
    <div class="dark-light-box">
        <div class="dark"></div>
        <div class="light"></div>
    </div>

    <div class="container black">
        <div class="text">
            <h1 class="dark">Switch Between</h1>
            <h1 class="light">Ligh & Dark Mode</h1>
        </div>

        <div class="img-switch">
            <img src="images\macbook.png" alt="dark and light mode">
            <button class="arrow-button">
                <i class="fa-solid fa-arrows-left-right"></i>
            </button>
        </div>
    </div>
</section>