@{
    ViewData["Title"] = "Ooops! Access denied";
}

<div class="container">
    <img src="~/images/404.svg" alt="404 error" />
    <div class="content">
        <h2 class="title">Ooops!Access denied</h2>
        <p>It looks like you are trying to access a page that you do not have access to.</p>
        <a class="btn-theme-s" asp-action="Home" asp-controller="Default"><i class="fa-solid fa-house"></i> Go to homepage</a>
    </div>
</div>